fastapi[standerd] 
uvicorn 
sse-starlette 
python-dotenv 
langgraph 
langchain-core 
fastmcp 
yfinance 
ddgs 
duckduckgo-search
aiosqlite
sse_starlette
langchain_huggingface
pydantic
langchain_core
duckduckgo_search